<ion-header>
  <ion-icon name="close-outline" routerLink="/carton"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>1. Cut Walls, roof and floor</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>2. Cut Feeding Hole Openings</p>
  </ion-card>

  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>3. Paint Cardboard</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>4. Attach Walls</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>5. Attach Floor</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>6. Make Slits for Perches</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>7. Attach Perches</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>8. Make Holes for Hanging</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>9. Decorate</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>10. Fill and Hang</p>
  </ion-card>
  </ion-content>