<ion-header>
  <ion-icon name="close-outline" routerLink="/tire"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>1. Cut the tire into half.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>2. Have it decorated with your design.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>3. Form a flower shape with the half tires as petals.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>4. Put soil inside the resulting product.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>5. You can now plant your favorites flowers.</p>
  </ion-card>
  </ion-content>