ion-header{
    height:80px;
    display: flex;
    align-items: center;

}
ion-img{
    width:30%;
    margin-top: 90px;
    margin-left: 120px;
}
ion-icon{
    color:#24ad46;
    font-size: 30px;
    margin-left: 10px;
}
  ion-button{
    --background:#24ad46;
    border-radius: 10px;
  }