<ion-header>
  <ion-icon name="close-outline" routerLink="/paper"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>1. Soak the papers.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>2. Use plastic wrap or bag to cover the outside of the bowl.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>3. Pour the paper that has been soaking, and the water, into an old blender. .</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>4. Mold the bowl with blended paper.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>5. Repeat the molding for the second layer</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>6. Let Dry.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>7. Remove the bowl.</p>
  </ion-card>
  </ion-content>