<ion-header>
  <ion-icon name="close-outline" routerLink="/paper"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>1. Cut the papers with your preferred shape ( heart, star, bird etc.).</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>2. With the use of needle and thread, create a string with a little spaces in between each shape.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>3. Hang the output on the wall.</p>
  </ion-card>

  </ion-content>