<ion-header>
  <ion-icon name="close-outline" routerLink="/tire"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>1. Design the tires based on the design that you want.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>2. Dig some hole where you'll be putting the small part of the tire to keep it standing.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>3. Put the small part of the tire on each whole you've made and return the soil.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>4. Repeat the process until you've created your desired fence in the yard.</p>
  </ion-card>
  </ion-content>