<ion-header>
  <ion-icon name="close-outline" routerLink="/wrapper"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>1. Clean the plastic wrappers.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>2. Cut all the sides of each wrappers.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>3. Cut the wrapper to cfeate strips of paper</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>4. Do some weaving with the strips.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>5. Out from the weaved wrappers, form a wallet.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>6. Sew zipper at the upper part of the fomred wallet</p>
  </ion-card>
  </ion-content>