<ion-header>
  <ion-icon name="close-outline" routerLink="/carton"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>1. Choose a Cardboard</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>2. Cover the Cardboard</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>3. Make Small Cardboard Pieces</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>4. Make the Roses</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>5. Decor Elements</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>6. Let's Decor the Wall Hanging</p>
  </ion-card>

  </ion-content>