<ion-header>
  <ion-icon name="close-outline" routerLink="/pbottle"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>1. Cut the plastic bottle with your desired height</p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>2. The head part of the cut from the body as well</p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>3. Design both the base part and head part of the bottle with the design that you like.</p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>4. Cover the base part with the bottle's head. </p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>5. You can now display it wherever you like.</p>
  </ion-card>
  </ion-content>