<ion-header>
  <ion-icon name="close-outline" routerLink="/wrapper"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>1. Cut the wrapper into strips forming rectangukar shape.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>2. Fold the strip into alternate direction to form a triangle.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>3. Repeat with the other strips.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>4. Use needele and thread to connect each strip with one another.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>5. You can put the finished product in your windows</p>
  </ion-card>
  </ion-content>