<ion-header>
  <ion-icon name="close-outline" routerLink="/home"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p>Turn your <b>PLASTIC BOTTLES</b> into</p>


  <ion-grid class>
    <ion-row class="row1">
      <ion-col size="12">
        <ion-card>
          <h6>Pen Holder</h6>
          <img src="assets/pb1.png" alt="">
          <ion-card-header>
            <ion-button shape="round" routerLink="/pbottle/prod1">View Steps</ion-button>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <h6>Wall Hangings</h6>
          <img src="assets/pb2.png" alt="">
          <ion-card-header>
            <ion-button shape="round" routerLink="/pbottle/prod2">View Steps</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="row2">
      <ion-col size="12">
      <ion-card>
        <h6>Flower Pot</h6>
        <img src="assets/pb3.png" alt="">
        <ion-card-header>
          <ion-button shape="round" routerLink="/pbottle/prod3">View Steps</ion-button>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <h6>Compost Bins</h6>
        <img src="assets/pb4.png" alt="">
        <ion-card-header>
          <ion-button shape="round" routerLink="/pbottle/prod4">View Steps</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
