<ion-header>
  <ion-icon name="close-outline" routerLink="/home"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p>Turn your <b>TIN CAN</b> into</p>


  <ion-grid class>
    <ion-row class="row1">
      <ion-col size="12">
        <ion-card>
          <h6>Cutlery Storage</h6>
          <img src="assets/ca1.png" alt="">
          <ion-card-header>
            <ion-button shape="round" routerLink="/cans/prod1">View Steps</ion-button>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <h6>Supplies' Organizer</h6>
          <img src="assets/ca2.png" alt="">
          <ion-card-header>
            <ion-button shape="round" routerLink="/cans/prod2">View Steps</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="row2">
      <ion-col size="12">
      <ion-card>
        <h6>Sprinkler</h6>
        <img src="assets/ca3.png" alt="">
        <ion-card-header>
          <ion-button shape="round" routerLink="/cans/prod3">View Steps</ion-button>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <h6>Flower Pot</h6>
        <img src="assets/ca4.png" alt="">
        <ion-card-header>
          <ion-button shape="round" routerLink="/cans/prod4">View Steps</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>