<ion-header>
  <ion-icon name="close-outline" routerLink="/paper"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>1. Roll papers with the help of ballpen to have a paper stick.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>2. Make designs of your desired flower with the colored paper.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>3. Paste flowers and sticks as shown in the picture. </p>
  </ion-card>
  </ion-content>