<ion-header>
  <ion-icon name="close-outline" routerLink="/cans"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c3.png" alt="">
    <p>1. Paint/Design the tin cans based on your preference.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c3.png" alt="">
    <p>2. With use of hammer and nail, create small holes in the cans. </p>
  </ion-card>
  <ion-card>
    <img src="assets/c3.png" alt="">
    <p>3. Attach the decorated tin cans into the block of wood.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c3.png" alt="">
    <p>4. Clean the resulting material</p>
  </ion-card>
  </ion-content>