<ion-header>
  <ion-icon name="close-outline" routerLink="/gbottle"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>1. With the use of metalc cutter,cut the bottle based on your preferred height of the glass.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>2. Finsih the edges of the cut bottle to avoid harm when using.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>3. The product is now ready for containing waxes.</p>
  </ion-card>
  </ion-content>