<ion-header>
  <ion-icon name="close-outline" routerLink="/paper"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>1. Start by choosing a sheet of colored paper. Place the picture to be framed in the center and use a pencil to make guidelines around it.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>2. Cut the four outer corners of the sheet.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>3. Design your desired one.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>4. Take a pencil and use it to roll the decorated corners in.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c1.png" alt="">
    <p>5. Stick the photo you want to display.</p>
  </ion-card>
  </ion-content>