<ion-header>
  <ion-icon name="close-outline" routerLink="/carton"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>1. Cut the cardboard</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>2. Wrap carboard pieces</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>3. Cut small pieces of cardboard</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>4. Stick all the cardboards</p>
  </ion-card>
  <ion-card>
    <img src="assets/c7.png" alt="">
    <p>5. Paste small strips</p>
  </ion-card>
  </ion-content>