<ion-header>
  <ion-icon name="close-outline" routerLink="/wrapper"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>1. Cut the wrapper into thin small strips.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>2. Put the strips into the plastic bottle</p>
  </ion-card>
  <ion-card>
    <img src="assets/c5.png" alt="">
    <p>3. Have it displayed.</p>
  </ion-card>
  </ion-content>