<ion-header>
  <ion-icon name="close-outline" routerLink="/carton"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/cars1.jpg" alt="">
    <p>1. Tape and reinforce the box</p>
  </ion-card>
  <ion-card>
    <img src="assets/cars2.jpg" alt="">
    <p>2. Wrap the box</p>
  </ion-card>
  <ion-card>
    <img src="assets/cars3.jpg" alt="">
    <p>3. Constructing the lid</p>
  </ion-card>
  <ion-card>
    <img src="assets/cars4.jpg" alt="">
    <p>4. Cut the cardboard lid</p>
  </ion-card>
  <ion-card>
    <img src="assets/cars5.jpg" alt="">
    <p>5. Tape the cardboard lid</p>
  </ion-card>
  <ion-card>
    <img src="assets/cars6.jpg" alt="">
    <p>6. Wrap and Stick the lid</p>
  </ion-card>
  </ion-content>