<ion-header>
  <ion-icon name="close-outline" routerLink="/pbottle"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>1. Have the lastic bottle into the desired height that you want your pot to have.</p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>2. Decorate the cut bottle with the design that you want.</p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>3. You can now use the resulting product as flower pot.</p>
  </ion-card>
  </ion-content>