<ion-header>
  <ion-icon name="close-outline" routerLink="/pbottle"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>1. Gather all the plastic bottles that you'll be using.</p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>2.Piled up the bottles until your desired height was reached. </p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>3. Use something to strengthen the hold of each bottles with each others such as tie.</p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>4. To create the bin's cover, Cut the head of some bottles and tie it with each other until the size as of the whole made by the trashbin's body was meet.</p>
  </ion-card>
  <ion-card>
    <img src="assets/pb.png" alt="">
    <p>5. Tie the cover made into the bin's body.</p>
  </ion-card>
  </ion-content>