<ion-header>
  <ion-icon name="close-outline" routerLink="/gbottle"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>1. Remove the bottles base.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>2. Attach the bottle's neck on the base by turing the bottle upside-down.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>3. Attach it to a wooden block.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>4. Add tie at the back of the wooden block for hanging.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>5. You can now hang the finished product on your desired place.</p>
  </ion-card>
  </ion-content>