<ion-header>
  <ion-icon name="close-outline" routerLink="/gbottle"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>1. Gather as many bottles as you can</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>2. Design the bottles based on your preference</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>3. Piled up the bottles following a round shape until you've reached the desired height.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>4. Pour soil inside the hole created with the bottles.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c2.png" alt="">
    <p>5. You can now have your favorites flower planted on it.</p>
  </ion-card>
  </ion-content>