<ion-header>
  <ion-icon name="close-outline" routerLink="/tire"></ion-icon>
  <ion-img src="assets/logo.png"></ion-img>
</ion-header>

<ion-content>
  <br>
  <p style="text-align:center"><b>START YOUR CREATIVITY NOW!!</b> </p>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>1. With the use of available ties/ropes, do some weaving on the whole of the tire until its covered. We will be needing 3 tires for this design.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>2. Pile up two tire or you can have more based on your preference.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>3. The other tire will be divided into two parts to serve as backrest of the chair</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>4. Some parts of the other half of the other tire will be cut to serve as the armerest of the chair.</p>
  </ion-card>
  <ion-card>
    <img src="assets/c6.png" alt="">
    <p>5. Use rope to tie each parts with each other.</p>
  </ion-card>
  </ion-content>